@import '../helpers/_variables';

@function rem($pixels, $context: $base-font-size) {
  // unitless 判斷有沒有帶單位
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

@mixin clearfix {
  &:after, &:before {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}

@mixin reset-button {
  text-align: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

@mixin stock-table {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  color: #000;
}

@mixin scroll-table($menu-height, $cell-height, $other-height: 0px) {
  text-align: center;
  border-collapse: collapse;
  background-color: #30302f;
  color: white;
  font-weight: 300;
  th {
    font-weight: 300;
  }
  th, td {
    display: inline-block;
    padding: 10px 0px;
    border-width: 0px;
  }
  thead, tbody {
    display: block;
    width: 100%;
  }
  tr {
    display: block;
    height: $cell-height;
    line-height: calc(#{$cell-height} - 20px);
    border-bottom: 1px solid #444;
  }
  thead {
    height: $cell-height;
    border-bottom: 1.5px solid #888;
    tr {
      font-weight: 300;
    }
  }
  tbody {
    max-height: calc(
      100vh - #{$menu-height} - #{$cell-height} - #{$other-height}
    );
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    td {
      height: $cell-height;
    }
    tr {
      &:hover {
        background-color: #595959;
      }
    }
  }
  td:last-child, th:last-child {
    border-right: none;
  }
  .tright {
    display: block;
    text-align: right;
    transform: translateX(-30%);
  }
}

@mixin fix-scroll-table($row-width, $other-height, $cell-height, $left-width : 25%, $right-width: 75%) {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100% - #{$other-height});
  text-align: center;
  background-color: #2b2b2a;
  span {
    display: inline-block;
    height: $cell-height;
    line-height: $cell-height;
    // padding: 10px 0px
  }
  .header-other > div, .main-other > div, .main-prod > div {
    will-change: transform;
  }
  .header {
    height: $cell-height;
    line-height: $cell-height;
    font-weight: 300;
    border-bottom: 1.5px solid #888;
    > div {
      display: flex;
      height: 100%;
    }
  }
  .main {
    height: calc(100% - #{$cell-height});
  }
  .header-prod {
    flex: 0 0 $left-width;
    span {
      width: 100%;
    }
  }
  .header-other {
    flex: 0 0 $right-width;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    > div {
      width: $row-width;
      // transition: transform 100ms ease-out;
      transform: translate3d(0px, 0px, 0px);
    }
    span {
      width: (100% / 7);
    }
  }
  .main-prod {
    flex: 0 0 $left-width;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    span {
      width: 100%;
      border-bottom: 1px solid #444;
    }
    > div {
      // transition: transform 100ms ease-out;
      transform: translate3d(0px, 0px, 0px);
    }
  }
  .main-other {
    flex: 0 0 $right-width;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    // transition: transform 900ms ease;
    > div {
      width: $row-width;
      // transition: transform 100ms ease-out;
      transform: translate3d(0px, 0px, 0px);
    }
    span {
      display: inline-block;
    }
  }
  .other-row {
    position: relative;
    display: flex;
    span {
      border-bottom: 1px solid #444;
    }
    @content;
  }
  .loading-wrap {
    position: relative;
    top: 50px;
  }
}

.vertical-middle {
  &:before {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }
}
@mixin truncate-by-width($width) {
  display: inline-block;
  width: $width;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
