@import '../helpers/variables';

html {
  font-size: $base-font-size;
}

html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  background-color: hsla(46, 57%, 95%, .7);
  // color: white;
  // user-select: none;
}

:global {
  #root, #root > div {
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: 0;
}

input {
  border: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 320px) {
  html {
    font-size: 14px;
  }
}
